@model DocSpot.Web.Models.LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>User Type:</label>
                            <select id="UserType" asp-for="AccountType" class="form-control">
                                <option value="0">Select User Type</option>
                                <option value="1">Admin</option>
                                <option value="2">Doctor</option>
                                <option value="3">Patient</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName">Username:</label>
                            <input type="text" id="Username" name="Username" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Password:</label>
                            <input type="password" id="Password" name="Password" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Login</button>
                        <a asp-action="Register" asp-controller="Account" class="pl-2 mt-2">Don't have a account yet?</a>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

