@model IEnumerable<DocSpot.ViewModels.DepartmentVM>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Departments";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="AddEdit">Create New</a>
</p>
<table class="dataTable table mb-4" id="dataTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Departments</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            GetAllData();
        });

        function GetAllData() {
            $('#dataTable').DataTable({
                pageLength: 5,
                serverSide: true,
                "ajax": {
                    "method": 'POST',
                    "url": "/Department/LoadData",
                },
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true },
                    { "data": "name", "name": "Departments", "autoWidth": true },
                    {
                        "render": function (data, type, row) {
                            var editButton = "<a href='AddEdit?id=" + row.id + "' class='btn btn-primary'>Edit</a>";
                            var deleteButton = "<button class='btn btn-danger delete-btn' onclick=DeleteCustomer('" + row.id + "'); >Delete</button>";
                            return editButton + " | " + deleteButton;
                        }
                    },
                ],
            });
        }

        function DeleteCustomer(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                   
                    $.ajax({
                        url: '/Department/Delete?id=' + id,
                        success: function (response) {
                            $('#dataTable').DataTable().ajax.reload();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        }

    </script>
}

